/* Widen sidebar from default 200px to 240px */
.ant-layout-sider:not(.ant-layout-sider-collapsed) {
  width: 240px !important;
  max-width: 240px !important;
  min-width: 240px !important;
  flex: 0 0 240px !important;
}
